<h1>Auction</h1>

<div class='container'>

  <!-- <div class="ui link cards">
    <div class="card">
      <div class="image">
        <img src="https://i.ytimg.com/vi/r3Ui4cPSMmQ/maxresdefault.jpg">
      </div>
      <div class="content">
        <div class="header">Mongoose 1980 used old school BMX custom bike</div>
        <div class="description">
          It is a used bike with general wear all over, has scrapes, scratches and rust.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Time left 1 day
        </span>
        <span>
          <i class="user icon"></i>
          75 viewed
        </span>
      </div>
    </div>
  </div> -->

  <div ng-repeat='item in items'>
    <div class="ui link cards" >
          <div class="card">

            <div class="image">
              <div class="header" ng-model='newBid._id' ng-bind='item._id'></div>
              <img ng-src='{{ item.image }}'>
            </div>

            <div class="content">
              <div class="header">{{ item.title }}</div>
              <div class="description">
                {{ item.detail }}
              </div>
            </div>

            <div class="extra content">
              <span class="right floated">
                {{ item.bidtime }}
              </span>
            </div>
          </div>
    </div>

  <br />
  <br />
  <br />

    <div class="ui left action input">
      <button class="ui gray labeled icon button">
        <i class="dollar icon"></i>
        Starting bid
      </button>
      <input type="text" value="$75.00">
    </div>

    <br />
    <br />

    <div class="ui left action input">
      <button class="ui green labeled icon button">
        <i class="dollar icon"></i>
        Bidding
      </button>
      <input type="text" value="150.47" ng-model='newBid.bidding'>&nbsp;<button class="ui green button" ng-click='addBidding(newBid, item._id)'>bid</button>
    </<div></div>
  </div>

</div>

<table class="ui very basic collapsing celled table">
  <thead>
    <tr>
      <th>Bidder</th>
      <th>Bid Amount</th>
      <th>Bid Time</th>
  </tr></thead>
  <tbody>
    <tr ng-repeat='bid in bids'>
      <td>
        <h4 class="ui image header">
          <i class="user icon"></i>
          <div class="content">
            <!-- {{ bid.name }} -->
            {{ bid.image }}
            <div class="sub header">
          </div>
        </div>
      </h4></td>
      <td>
        <!-- {{ bid.bidding }} -->
        {{ bid.title }}
      </td>
      <td>
        <!-- {{ bid.biddingTime }} -->
        {{ bid.biddingTime }}
      </td>
    </tr>
    <!-- <tr>
      <td>
        <h4 class="ui image header">
          <i class="user icon"></i>
          <div class="content">
            Matthew
            <div class="sub header">Fabric Design
          </div>
        </div>
      </h4></td>
      <td>
        15
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="user icon"></i>
          <div class="content">
            Lindsay
            <div class="sub header">Entertainment
          </div>
        </div>
      </h4></td>
      <td>
        12
      </td>
    </tr>
    <tr>
      <td>
        <h4 class="ui image header">
          <i class="user icon"></i>
          <div class="content">
            Mark
            <div class="sub header">Executive
          </div>
        </div>
      </h4></td>
      <td>
        11
      </td>
    </tr> -->
  </tbody>
</table>
